/*
Estilos de tablero loco
autor: Javier Ricardo
20 de mayo de 2024
*/

#principal{
    float: left;
    width: 590px;
    border: 1px solid #000;
    margin-top: 50px;
    padding: 10px 0 0 20px;
}

.row{
    float: left;
    display: flexbox;
    flex-wrap: nowrap;
    height: 200px;
    margin-bottom: 5px;
}

.celda{
    border: 1px solid #045518;
}

.espacio-deiz{
    margin: 0 4px 0 4px;
}

.espacio-iz{
    margin-left: 6px;
}

.letra-blanca{
    color: white;
}

.fondo-azul-oscuro{
    background-color: #0f065f;
}