.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr,16fr,1fr );
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}
.arriba{
    float: left;
    width: 1200px;
}
.periodo{
    float: left;
    width: 1200px;
    height: 80px;
}
.elemento{
    float:left;
    display: flex;
    flex-wrap: wrap;
    border:1px solid rgb(19, 75, 68);
    border-radius: 15%;
}
.vacio{
    float:left;
    display: flex;
    flex-wrap: wrap;
}
.no-metal{
    background-color: rgb(79, 0, 236);
    font-size: 60px;
}
.ol{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.h-o{
    background-color: rgb(248, 131, 81);
}
.h-l{
    background-color: rgb(250, 218, 114);
}
.h-a{
    background-color: rgb(128, 242, 79);
}
.n-o{
    background-color: rgb(106, 193, 252);
}
.n-i{
    background-color: rgb(13, 168, 13);
}
.a-m{
    background-color: yellow;
}
.p-m{
    background-color: rgb(213, 211, 211);
}
.a-z{
    background-color: rgb(48, 108, 220);
}
.c-a{
    background-color: rgb(229, 110, 179);
}
.titulo{
    font-size: 70px;
    font-weight: bold;
    text-align: center;
}
.nombre{
    font-size: 8px;
    text-align: justify;
    font-weight: bold;
}