/*
Sergio leguizamo
*/
.forma{
    width: 950px;
    margin-top: 90px;
}

.formulario{
    
    border: 1px solid #000000;
}

.respuesta{

    border: 1px solid #000000;
}

.formulario, .respuesta{
    margin-left: 10px;
    border-radius: 6px;
    padding: 10px;
    color: #0c0079;
}